<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<h1>成功了</h1>
<hr/>
<!--text转义字符，utext不转义字符-->
<div th:text="${hello}"></div>
<div th:utext="${hello}"></div>
<hr/>
<!--th:each每次遍历都会生成当前这个标签 生成三个h1标签-->
<h1 th:text="${user}" th:each="user:${users}"></h1>
<h1>

    <!--要使用文本内联必须要引入th:inline="text" 不然会出现错误  生成三个span标签-->
    <span th:inline="text"  th:each="user:${users}">[[${user}]]</span>
</h1>
</body>
</html>